html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width, initial-scale=1')
        link(href='/css/bootstrap/bootstrap.min.css', rel='stylesheet')
        title= title || 'Leaderboard'
    body
        block content
        script(src='/js/bootstrap/bootstrap.bundle.min.js')